* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #dedede;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
input,
button,
select,
textarea,
div {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  color: #000;
}
ul,
li {
  list-style: none;
}
.navbar {
  height: 56px;
  margin: 0 auto;
  border-bottom: 1px #f0f0f0 solid;
  background-color: #fff;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10001;
}
.navbar .add-note {
  display: block;
  padding: 18px 12px;
  margin: 0 5px;
  float: left;
}
.navbar ul {
  float: right;
  margin-right: 20px;
}
.navbar ul li {
  float: left;
  margin-right: 10px;
  line-height: 56px;
}
.navbar ul li a {
  display: block;
}
.navbar ul li img {
  width: 50px;
  border-radius: 50%;
  margin-top: 3px;
}
.goTop {
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
}
#contents {
  position: relative;
  min-width: 440px;
  margin: 60px auto 0;
}
#contents .note {
  width: 160px;
  margin: 16px 10px;
  position: absolute;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(#fff7bb, #feec7e);
  box-shadow: 10px 10px 20px #949292;
}
#contents .note.transition {
  transition: all 0.6s ease-out;
}
#contents .note.draggable {
  opacity: .6;
  z-index: 999;
}
#contents .note-head {
  cursor: move;
  width: 50px;
  height: 24px;
  position: absolute;
  left: 50%;
  top: -12px;
  transform: translateX(-50%) skew(16deg);
  background-color: #e672a2;
}
#contents .note-context {
  color: #000;
  padding: 16px 10px;
  font-size: 16px;
}
#contents .u-t {
  margin-right: 10px;
  text-align: right;
  color: #0083ff;
  line-height: 26px;
}
#contents .delete {
  display: none;
  width: 24px;
  height: 24px;
  line-height: 22px;
  float: right;
  background-color: #ffffff;
  color: #858585;
  border-radius: 50%;
  box-shadow: 2px 4px 10px #000;
  text-align: center;
  position: absolute;
  top: -8px;
  right: -10px;
  cursor: pointer;
}
.toast {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  box-shadow: 0 0 20px #8a8787;
  border-radius: 10px;
}
